*{
    margin: 0;
}
.content{
    background: linear-gradient(to right, white 30%, #ffe5e6 0);
    background-size: 50px 100%;
    width: 60%;
    margin: auto;
    height: 400px;
}
 .item{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .text-all{
     text-align: center;
     size: 15px;
 }
.text{
    margin-top: 25px;
    font-size: 15px;
    max-width: 216px;
    color: #9d9d9d;
}
.head{
    margin-top: 10px;
    font-weight: bold;
}

.cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
.svg-icons{
    fill: white;
    width: 75%;
}
.svg{
    background: blue;
    opacity: 50%;
    border-radius: 60px;
    border: 1px blue solid;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg:hover{
    background: white;
    border: 1px blue solid;
}
.svg:hover>.svg-icons{
    fill: blue;
}